.acc-wrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 70px;
}

.accordion {
  width: 500px;
}

.acc-item {
  background: beige;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 10px;
}

.acc-title {
  color: #ab2a2a;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
  cursor: pointer;
}

.acc-content {
  color: #620e0e;
  padding-inline: 30px;
}

.multi-button {
  background: rgb(215, 215, 4);
  color: #f50d81;
  margin-bottom: 10px;
}
